@tailwind base;

abbr[title] {
  text-decoration: none;
}

.prose{

  color: #dcdcdc !important;
}

.prose strong{

  color: #dcdcdc !important;
}


.prose h2 {
  color: #dcdcdc !important;
}

.prose a{
  color: #bdb1ff !important;
  text-decoration: underline !important;
  box-shadow: none !important;


}


.prose pre {
   background-color: #212223;
  border: 1px solid #333131;

  border-radius: 4px !important;
}

th{
  color: #cecece;
}

hr{
  border-color: #333131 !important;
}

* {
  border-color: #333131 !important;
}